<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0gs4qeVkvBv6YsrR2fVdH9lc5sD7hNUo</string>
	<key>GCM_SENDER_ID</key>
	<string>547762765465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaystar.chungyakbox</string>
	<key>PROJECT_ID</key>
	<string>chungyak-box</string>
	<key>STORAGE_BUCKET</key>
	<string>chungyak-box.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547762765465:ios:cfb87ffead8f760fbe8208</string>
</dict>
</plist>